<html>
<head>
{{ resources|safe }}
<!-- <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script> <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script> <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script> <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-gl-1.4.0.min.js"></script> <script type="text/javascript"> Bokeh.set_log_level("info"); </script> -->

</head>


<body>
<H1>Daily Stock Price</H1>

<form action="/">
<select name="ticker_symbol">
	{% for ticker in ticker_list %}
		{% if ticker == current_ticker %}
			<option selected value="{{ ticker }}">{{ ticker }}</option>
		{% else %}
			<option value="{{ ticker }}">{{ ticker }}</option>
		{% endif %}
	{% endfor %}
</select>
<input type="submit">
</form>

{{ div|safe }}
{{ script|safe }}

</body>
</html>
